/* Global CSS Variables */
:root {
  --LandscapeTotalHeight: 100%;
  --LandscapeColumnHeight: 45vw;
  /* These three variables should add up to column height */
  --LandscapeRow1Height: 5vw;
  --LandscapeRow2Height: 33vw;
  --LandscapeRow3Height: 7vw;
  --LandscapeRow2And3Height: 40vw;
  --LandscapeColumnRightPad: 2vw;

  --LandscapeBRDFPresetsHeight: 30vw;
  --LandscapeInstructionsHeight: 15vw;

  --PortraitTotalHeight: 245vw;
  --PortraitColumnHeight: 245vw;
    /* These three variables should add up to column height */
  --PortraitRow1Height: 10vw;
  --PortraitRow2Height: 120vw;
  --PortraitRow3Height: 120vw;
}


html, body {
    width: 100%;
    height: var(--LandscapeTotalHeight);
    display: flex;
}

#brdf-presets, #brdf-instructions,
#brdf-menu, #brdf-canvas, #brdf-header,
#model-menu, #model-canvas, #model-header,
#menu-column, #model-column, #brdf-column
{
  display: flex;
  z-index: -1;
  flex-direction: column;
  /*box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);*/
}

#brdf-presets, #brdf-instructions,
#brdf-menu, #brdf-canvas, #brdf-header,
#model-menu, #model-canvas, #model-header {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/* -------- Main Flexbox Containter -------- */
#main-container {
    display: flex;
    align-items: center;
    margin: 0px;
    flex-direction: row;
    justify-content: center;
}

/* -------------- Menu Column -------------- */
#menu-column {
    width: 10vw;
    height: var(--LandscapeColumnHeight);
    padding-right: var(--LandscapeColumnRightPad);
    z-index: 1;
}

#brdf-instructions {
    width: 10vw;
    height: var(--LandscapeRow1Height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.0);
}

#brdf-presets {
    width: 10vw;
    height: var(--LandscapeRow2And3Height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* -------------- Model Column -------------- */
#model-column {
    /*flex-basis: 50%;*/
    width: var(--LandscapeColumnHeight);
    height: var(--LandscapeColumnHeight);
    padding-right: var(--LandscapeColumnRightPad);
    display: flex;
    flex-direction: column;
    height: var(--LandscapeColumnHeight);
    width: 35vw;
}

#model-header {
    height: var(--LandscapeRow1Height);
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

#model-canvas {
    height: var(--LandscapeRow2Height);
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#model-menu {
    height: var(--LandscapeRow3Height);
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- BRDF Column -------------- */
#brdf-column {
    /*flex-basis: 50%;*/
    width: var(--LandscapeColumnHeight);
    height: var(--LandscapeColumnHeight);
    display: flex;
    flex-direction: column;
    height: var(--LandscapeColumnHeight);
    width: 35vw;
}

#brdf-header {
    height: var(--LandscapeRow1Height);
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#brdf-canvas {
    height: var(--LandscapeRow2Height);
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#brdf-menu {
    height: var(--LandscapeRow3Height);
    width: 35vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#link_button {
    width: 3vw;
    padding-right: 2vw;
}

/* -------------- Portrait Overrides -------------- */
@media screen and (orientation:portrait) {
    html, body {
    	height: var(--PortraitTotalHeight);
    }

    /* -------- Main Flexbox Containter -------- */
    #main-container {
    	flex-direction: column;
    }

    /* -------------- Menu Row -------------- */
    #menu-column {
        width: 80vw;
        height: var(--PortraitRow1Height);
        padding-right: initial;
    }

    #brdf-presets {
        width: 80vw;
        height: var(--PortraitRow1Height);
        flex-direction: row;
    }

    /* -------------- Model Row -------------- */
    #model-column{
    	/*flex-basis: 50%;*/
    	width: 80vw;
    	height: var(--PortraitRow2Height);
      padding-top: 10vw;
      padding-right: initial;
      align-items: center;
    }

    #model-header {
      height: 10vw;
      width: 80vw;
    }

    #model-canvas {
      width: 80vw;
      height: 68.5714286vw;
    }

    #model-menu {
      height: 20vw;
      width: 80vw;
    }

    /* -------------- BRDF Row -------------- */
    #brdf-column {
      /*flex-basis: 50%;*/
      width: 80vw;
      height: var(--PortraitRow3Height);
    	padding-top: 10vw;
    	align-items: center;
      padding-right: initial;
    }

    #brdf-header {
    	height: 10vw;
    	width: 80vw;
    	align-items: center;
    }

    #brdf-canvas {
      width: 80vw;
      height: 68.5714286vw;
    }

    #brdf-menu {
      height: 20vw;
      width: 80vw;
    }
}
